.nameBox {
    height: 24px;
    width: 144px;
    text-align:center;
    font-size: 16px;
}

.sexBox {
    height: 24px;
    font-size: 16px;
}

.ageBox {
    height: 24px;
    font-size: 16px;
}

.styleBox {
    height: 24px;
    font-size: 16px;
}

.commentBox {
    width: 600px;
    height: 24px;
    font-size: 10px;
}
